body{
  margin:0;
  padding:0;
}
.card{
  margin-top: 30px;
  margin-left:40px;
  border-radius:4px;
  display:inline-block;
  transition: 0.3s;
}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

